<h1>Lines:</h1>

@if (isLoading()) {
    <p>Loading data...</p>
} @else {
    @if (!hasError()) {
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Timestamp</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @for (line of lines(); track line.id) {
                    <tr>
                        <td>{{ line.id }}</td>
                        <td>{{ line.timestamp | date:"MM/dd/yyyy HH:MM:SS" }}</td>
                        <td>{{ line.amount }}</td>
                        <td>{{ line.type }}</td>
                        <td>{{ line.description }}</td>
                    </tr>
                }
            </tbody>
        </table>
    } @else {
        <p>Failed to get data.</p>
    }
}


